h1 {
    text-align: center;
}

#grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 480px;
    width: 480px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.square {
    background: white;
    border: .5px solid black;
    max-height: 30px;
    max-width: 30px;
    flex-grow: 1;
}

.first {
    border-left: 2px solid black;
}

.top {
    border-top: 2px solid black;
}

.last {
    border-right: 2px solid black;
}

.bottom {
    border-bottom: 2px solid black;
}
